In [251]:
from missingpy import MissForest
import numpy as np
import pandas as pd

In [309]:
tr1 = list("ABCD")
tr2 = ['pooh', 'rabbit', 'piglet', 'Christopher']
va1 = list("ABCDE")
va2 = ['pooh', 'rabbit', 'piglet', 'Christopher', "bird", "coco"]

In [310]:
tr1_ = np.random.choice(tr1, 1000 , p=[0.5, 0.1, 0.1, 0.3])
va1_ = np.random.choice(va1, 500 , p=[0.4, 0.1, 0.1, 0.3,0.1])
tr2_ = np.random.choice(tr2, 1000 , p=[0.5, 0.1, 0.1, 0.3])
va2_ = np.random.choice(va2, 500 , p=[0.5, 0.1, 0.09, 0.25,0.05,0.01])

In [311]:
tr_n = np.random.normal(size = (1000 , 10))
va_n = np.random.normal(size = (500 , 10))

In [255]:
Tr = pd.DataFrame(tr_n, columns= [ "Cols{}".format(i) for i in np.arange(10)])

In [256]:
Va = pd.DataFrame(va_n , columns= [ "Cols{}".format(i) for i in np.arange(10)])

In [257]:
Tr["Col_Fac1"] = tr1_
Tr["Col_Fac2"] = tr2_
Va["Col_Fac1"] = va1_
Va["Col_Fac2"] = va2_

In [258]:
Tr.head()

,Cols0,Cols1,Cols2,Cols3,Cols4,Cols5,Cols6,Cols7,Cols8,Cols9,Col_Fac1,Col_Fac2
0,1.000810,0.594519,-1.148063,-0.060060,0.722268,-0.591073,-2.349230,-1.134429,-0.049367,0.299794,A,Christopher
1,-0.031933,0.876172,0.560942,1.302315,1.053462,1.256597,-2.706752,-0.725914,-1.400529,-1.428877,A,pooh
2,-0.276633,-1.421927,-0.141082,-0.990817,-0.523672,0.503468,-0.872561,-0.397737,0.532623,1.316479,A,pooh
3,0.096472,-0.085093,0.729092,1.226028,-0.096815,1.448163,0.625146,0.264715,1.561072,-1.076675,A,pooh
4,0.066091,1.266297,-1.054634,-0.079544,0.787605,-1.232349,0.629026,0.535090,0.283848,-1.091094,A,pooh

In [259]:
No , ori = Tr.shape
p_miss = 0.2
p_miss_vec = p_miss * np.ones((No,1)) 
Missing = np.zeros((No,ori))
ori_Missing = np.zeros((No,ori))
for idx , st in enumerate(np.arange(ori)) :
    A = np.random.uniform(0., 1., size = [No,])
    A1 = np.expand_dims(A , axis = 1)
    B_ = A > p_miss_vec[idx]
    ori_Missing[:,idx] = 1.*B_
    B = A1 > p_miss_vec

In [260]:
No , ori = Va.shape
p_miss = 0.2
p_miss_vec = p_miss * np.ones((No,1)) 
Missing = np.zeros((No,ori))
va_Missing = np.zeros((No,ori))
for idx , st in enumerate(np.arange(ori)) :
    A = np.random.uniform(0., 1., size = [No,])
    A1 = np.expand_dims(A , axis = 1)
    B_ = A > p_miss_vec[idx]
    va_Missing[:,idx] = 1.*B_
    B = A1 > p_miss_vec

In [261]:
MaskVector = 1-ori_Missing
VaMaskVector = 1-va_Missing

In [262]:
Tr[MaskVector == 1 ]= np.nan

In [263]:
Va[VaMaskVector==1] = np.nan

In [264]:
fac_var = ["Col_Fac1" , "Col_Fac2"]

In [265]:
change_nan = {}
for col in fac_var :
    unis = list(set(Va[col].unique()).difference(set(Tr[col].unique())))
    temp = {}
    for uni in unis :
        temp[uni] = np.nan
    change_nan[col] = temp

In [266]:
Va2 = Va.replace(change_nan)

In [267]:
from sklearn.preprocessing import LabelEncoder

In [268]:
le_info = {}
for col in fac_var :
    Tr[col] = Tr[col].fillna("NaN")
    Va2[col] = Va2[col].fillna("NaN")
    le = LabelEncoder()
    x = Tr[col].unique()
    le_info[col] = le.fit(x)
    le.fit(x)
    Tr[col] = le.transform(Tr[col])
    Va2[col] = le.transform(Va2[col])

In [269]:
le_info[col].classes_

array(['Christopher', 'NaN', 'piglet', 'pooh', 'rabbit'], dtype=object)

In [270]:
Tr[MaskVector == 1 ]= np.nan
Va2[VaMaskVector==1] = np.nan

In [283]:
Tr.shape

(1000, 12)

In [272]:
Va2.head()

,Cols0,Cols1,Cols2,Cols3,Cols4,Cols5,Cols6,Cols7,Cols8,Cols9,Col_Fac1,Col_Fac2
0,0.603992,NaN,1.239086,0.701347,0.188039,0.336490,-1.212993,NaN,-1.598586,-0.625069,1.0,3.0
1,-1.077091,-0.499064,NaN,NaN,0.302632,0.468250,-0.268063,1.670784,-2.221267,NaN,0.0,2.0
2,-0.196444,0.616799,-0.621783,NaN,-0.961934,-0.910513,0.930005,-1.268798,1.665802,0.992605,NaN,3.0
3,-1.344711,NaN,-1.456352,-0.477139,0.908473,0.891397,-0.647684,1.283270,-1.087352,0.292320,3.0,3.0
4,NaN,NaN,-1.253494,NaN,NaN,0.741311,1.442377,-0.044404,-0.276880,0.756467,4.0,NaN

In [273]:
UseCols = Tr.columns.tolist()

In [285]:
Tr

,Cols0,Cols1,Cols2,Cols3,Cols4,Cols5,Cols6,Cols7,Cols8,Cols9,Col_Fac1,Col_Fac2
0,1.000810,0.594519,-1.148063,-0.060060,0.722268,-0.591073,-2.349230,-1.134429,NaN,0.299794,0.0,NaN
1,-0.031933,0.876172,0.560942,1.302315,1.053462,1.256597,-2.706752,NaN,-1.400529,-1.428877,0.0,3.0
2,-0.276633,NaN,NaN,-0.990817,-0.523672,NaN,-0.872561,-0.397737,0.532623,1.316479,NaN,3.0
3,0.096472,-0.085093,0.729092,1.226028,-0.096815,1.448163,0.625146,0.264715,1.561072,-1.076675,0.0,3.0
4,0.066091,1.266297,-1.054634,-0.079544,0.787605,-1.232349,0.629026,0.535090,NaN,-1.091094,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,-0.006303,0.091700,1.822651,1.376154,0.314510,NaN,NaN,NaN,3.0,NaN
996,NaN,0.510390,-0.660670,-0.107580,0.707544,NaN,0.410404,-0.157719,0.887572,0.137327,0.0,3.0
997,0.509715,NaN,-0.250233,-0.861112,1.267642,-0.039763,-1.075931,0.511904,-0.004915,-0.214769,NaN,NaN
998,-0.456225,NaN,2.241182,1.891051,0.266414,0.444757,1.356393,1.697328,1.968724,-0.386520,0.0,NaN
999,0.444156,1.793753,0.027414,-1.065338,-0.434807,0.070437,NaN,0.542341,-0.606299,0.457556,0.0,0.0

In [286]:
cat_var = [idx for idx , col in enumerate(UseCols) if col in fac_var]
MISSForest_algo = MissForest(verbose = 0, n_jobs  = -1 , max_depth=5)
MISSForest_algo.fit(X =Tr  , cat_vars= cat_var)

MissForest(bootstrap=True, class_weight=None, copy=True,
           criterion=('mse', 'gini'), decreasing=False, max_depth=5,
           max_features='auto', max_iter=10, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, missing_values=nan, n_estimators=100,
           n_jobs=-1, oob_score=False, random_state=None, verbose=0,
           warm_start=False)

In [287]:
Tr_imputed = MISSForest_algo.transform(Tr)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6

In [289]:
Tr_imputed = pd.DataFrame(Tr_imputed, columns= UseCols)

In [301]:
Tr_imputed[fac_var] = Tr_imputed[fac_var].astype(int)

In [290]:
Va_imputed = MISSForest_algo.transform(Va2)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5

In [291]:
Va_imputed = pd.DataFrame(Va_imputed, columns= UseCols).head()

In [302]:
Va_imputed[fac_var] = Va_imputed[fac_var].astype(int)

In [304]:
for col in fac_var :
    Tr_imputed[col] = le_info[col].inverse_transform(Tr_imputed[col])
    Va_imputed[col] = le_info[col].inverse_transform(Va_imputed[col])

In [308]:
Tr_imputed.isna().sum()

Cols0       0
Cols1       0
Cols2       0
Cols3       0
Cols4       0
Cols5       0
Cols6       0
Cols7       0
Cols8       0
Cols9       0
Col_Fac1    0
Col_Fac2    0
dtype: int64

In [307]:
Va_imputed.isna().sum()

Cols0       0
Cols1       0
Cols2       0
Cols3       0
Cols4       0
Cols5       0
Cols6       0
Cols7       0
Cols8       0
Cols9       0
Col_Fac1    0
Col_Fac2    0
dtype: int64